/* You can add global styles to this file, and also import other style files */

/* // Import all of Bootstrap's CSS */
/* @import "~bootstrap/scss/bootstrap"; */
*{
    background-color: aqua;
    /* color: white; */
    text-align: center;


}




input{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: white;
    color: black;
}
button{
        width: 10%;
        height: 35px;
        border-radius: 20px;
        background-color: blue;
        color: white;
        margin-left: 30px;
} 
table, td{
margin-left: 100px;


}
.delete{
    margin-left: 200px;
}
